---
import Card from '@components/text/Card.astro'
import CardWrapper from '@components/text/CardWrapper.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { getProjects } from '@layouts/utils/getProjects'
import { getRootUrl } from '@layouts/utils/getRootUrl'
import BookOpen from 'astro-heroicons/outline/BookOpen.astro'
import Cube from 'astro-heroicons/outline/Cube.astro'
import QueueList from 'astro-heroicons/outline/QueueList.astro'
import CalendarDays from 'astro-heroicons/solid/CalendarDays.astro'
import pngSocialSharingFallback from '../../public/social-sharing.png'

const projects = await getProjects()
const showcaseProjects = projects
  ?.filter((p) => p.name.slug !== 'root')
  ?.filter((p) => p.enabled === true)
---

<LayoutArticlePageAstro title="OpenStreetMap Berlin">
  <header class="not-prose">
    <h1
      class="bg-gradient-to-br from-amber-400 to-orange-500 to-60% bg-clip-text pb-2 text-4xl font-extrabold leading-8 text-transparent md:text-6xl md:leading-[3.25rem]"
    >
      Die OpenStreetMap Berlin Community
    </h1>
    <p class="-mt-2 text-3xl font-bold text-orange-700">Projekte, Tools und Analysen</p>
  </header>

  <CardWrapper classes="mt-10">
    <Card
      external
      href="https://wiki.openstreetmap.org/wiki/Berlin"
      text="Wiki öffnen…"
      alt="OSM Berlin Community Wiki Page"
    >
      <BookOpen class="size-10" />
    </Card>
    <Card
      external
      href="https://wiki.openstreetmap.org/wiki/Berlin/Stammtisch"
      text="Zum Stammtisch…"
      alt="OSM Berlin Stammtisch"
    >
      <CalendarDays class="size-10" />
    </Card>
  </CardWrapper>

  <CardWrapper headline="Ausgewählte Projekte" sectionClasses="mt-20">
    {
      showcaseProjects?.map((project) => {
        return (
          <Card
            href={getRootUrl(project)}
            text={project.name.name}
            alt={project.meta?.description}
            image={project.meta.image || pngSocialSharingFallback}
            variant="iconImageGrid"
          >
            <Cube class="size-14" />
          </Card>
        )
      })
    }
  </CardWrapper>

  <CardWrapper headline="Siehe auch" sectionClasses="mb-20 mt-20">
    <p class="col-span-2 my-0">
      Viele Projekte der OSM Verkehrswende Gruppe nutzen Berlin als Pilotregion.
    </p>
    <Card external href="https://www.osm-verkehrswende.org" text="Verkehrswende Projekte" alt="">
      <QueueList class="size-10" />
    </Card>
  </CardWrapper>
</LayoutArticlePageAstro>
